<div>
    <h1>Bienvenido</h1>
    {{#each products}}
    <li>
        <p> Title: {{this.title}}</p>
        <p>Description:  {{this.description}}</p>
        <p>Price: {{this.price}}   </p>
        <p>Stock:  {{this.stock}}</p>
        <p>Status: {{this.status}} </p>
        <p>Category:  {{this.category}}</p>
        <p>Code:  {{this.code}}</p>
    </li>
    {{/each}}
    {{#if hasPrevPage}}
        <a href="/api/products?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
     <a href="/api/products?page={{nextPage}}"><button>Siguiente</button></a>     
    {{/if}}
</div>